header {
    display: flex;
    align-items: flex-end;
}
h1 {
    margin: 0;
}
#backReferences {
    /* After all widths and non-auto margins have been calculated, give me whatever remaining space is available. */
    margin-left: auto;
}
#backReferences li {
    list-style-type: none;
}
#backReferences a {
    color: black;
}
#backReferences a:visited {
    color: inherit;
}
nav {
    display: grid;
    grid-template-columns:
        [page-start request-start response-gutter-start] 60px
        [response-gutter-end response-start] 60px 60px 60px 60px 60px 60px 60px 60px 
        [request-end request-gutter-start] 60px [page-end request-gutter-end response-end];
    grid-column-gap: 50px;
}
nav:first-of-type {
    border-top: 2px solid #CCC;
}
nav:last-of-type {
    padding-bottom: 5px;
    border-bottom: 2px solid #CCC;
}
nav .col, nav .context {
    grid-column: span 3;
}
nav ul {
    margin: 0 0 0 5px;
    padding: 0 0 0 10px;          
}
nav ul {border-left: 3px solid rgba(0, 130, 240, 0.2);}
nav ul ul {border-left: 2px solid rgba(0, 115, 210, 0.2);}
nav ul ul ul {border-left: 1px solid rgba(0, 90, 170, 0.2);}

nav a {
    text-decoration: unset;
    color: rgba(0, 130, 240, 1);
    margin: 0;       
    font-size: 20px;
    font-weight: 1000;
}
nav ul a {
    color: rgba(0, 115, 210, 1);
    font-size: 18px;
    font-weight: 800;
}
nav ul ul a {
    color: rgba(0, 90, 170, 1);
    font-size: 16px;
    font-weight: 600;
}
nav li {
    padding-left: 0px;
    list-style-type: none;
}
